@tailwind base;
@tailwind components;
@tailwind utilities;

/* Seus estilos personalizados podem ir aqui */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Scrollbar customizada para Chrome, Safari e Edge */
html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: rgba(139, 92, 246, 0);
  border-radius: 10px;
  transition: background 0.3s ease;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgba(139, 92, 246, 0.8);
}
/* Animação de shake para campos inválidos */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

.shake {
  animation: shake 0.5s;
}
html.scrolling::-webkit-scrollbar-thumb {
  background: rgba(139, 92, 246, 0.5);
}

/* Scrollbar para Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.3s ease;
}

html.scrolling {
  scrollbar-color: rgba(139, 92, 246, 0.5) transparent;
}

body {
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  line-height: 1.1;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

/* Avatar grande no modal */
.avatar-grande {
  font-size: 5rem !important;
  transform: scale(1.5);
  transform-origin: center;
}
